<ul id="sidebar-menu">
    <li class="header"><span>Overview</span></li>
    <li>
        <a href="./" title="Admin Dashboard">
            <i class="glyph-icon icon-linecons-tv"></i>
            <span>Tabs</span>
        </a>
    </li>
    <li>
        <a href="./test" title="Admin Dashboard">
            <i class="glyph-icon icon-linecons-tv"></i>
            <span>Tab Payments</span>
        </a>
    </li>
    <li>
        <a href="./test" title="Admin Dashboard">
            <i class="glyph-icon icon-linecons-tv"></i>
            <span>Accounts</span>
        </a>
    </li>
    <li>
        <a href="./test" title="Admin Dashboard">
            <i class="glyph-icon icon-linecons-tv"></i>
            <span>Venues</span>
        </a>
    </li>
    <li class="divider"></li>
    <li class="no-menu">
        <a href="../frontend-template/index.html" title="Frontend template">
            <i class="glyph-icon icon-linecons-beaker"></i>
            <span>Frontend template</span>
            <span class="bs-label label-danger">
                NEW
            </span>
        </a>
    </li>
