<ul id="sidebar-menu">
    <li class="header"><span>Overview</span></li>
    <li>
        <a href="./" title="Admin Dashboard">
            <i class="glyph-icon icon-linecons-note"></i>
            <span>Tabs</span>
        </a>
    </li>
    <li>
        <a href="./payments" title="Admin Dashboard">
            <i class="glyph-icon icon-linecons-money"></i>
            <span>Tab Payments</span>
        </a>
    </li>
    <li>
        <a href="./accounts" title="Admin Dashboard">
            <i class="glyph-icon icon-linecons-user"></i>
            <span>Accounts</span>
        </a>
    </li>
    <li>
        <a href="./accounts" title="Admin Dashboard">
            <i class="glyph-icon icon-linecons-shop"></i>
            <span>Venues</span>
        </a>
    </li>
    <!-- <li class="divider"></li>
    <li class="no-menu">
        <a href="../frontend-template/index.html" title="Frontend template">
            <i class="glyph-icon icon-linecons-beaker"></i>
            <span>Frontend template</span>
            <span class="bs-label label-danger">
                NEW
            </span>
        </a>
    </li> -->
