<!DOCTYPE html>
<html {{#if angular}}ng-app="monarchApp"{{/if}} lang="en">
<head>
    {{#if angular}}
    {{else}}
        <style>
            /* Loading Spinner */
            .spinner{margin:0;width:70px;height:18px;margin:-35px 0 0 -9px;position:absolute;top:50%;left:50%;text-align:center}.spinner > div{width:18px;height:18px;background-color:#333;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0.0)}40%{-webkit-transform:scale(1.0)}}@keyframes bouncedelay{0%,80%,100%{transform:scale(0.0);-webkit-transform:scale(0.0)}40%{transform:scale(1.0);-webkit-transform:scale(1.0)}}
        </style>
    {{/if}}

    {{> admin-head  }}

</head>

<div id="page-wrapper">
    {{> header }}
    <div id="page-content-wrapper">
        <div id="page-content">

          {{#if angular}}
              <body ng-controller="authenticationController">
          {{else}}
              <body>
              <script>
                  function verifyPin() {
                      var pin = $('#pin').val();

                      $.ajax({
                          type: "POST",
                          url: '/api/verifyPin/',
                          data: {pin: pin},
                          success: function (response) {
                              console.log(response);
                              response = JSON.parse(response);
                              if (response.isVerified) {
                                  window.location.href = '/';
                              }
                          },
                          error: function (err) {
                              if (!err.isVerified) {
                                  alert('That PIN number is incorrect!');
                              } else {
                                  alert(JSON.stringify(err));
                              }
                          }
                      });
                      event.preventDefault();
                      event.stopPropagation();
                  }
              </script>
              <div id="sb-site">
                  <form>
                      <h1>Administrator Dashboard</h1>
                      </br>
                      The TABu administrator dashboard allows TABu team members to view important metrics and manage day to day operations. If you are a venue owner, <a href="http://dashboard.tabuapp.com">click here</a> to open the dashboard for your venue.
                    </br></br>Please enter your administrator PIN number to continue.
                    </br></br>
                      <div class="form-group">
                          <label for="pin">PIN</label>
                          <input type="text" class="form-control" id="pin"  placeholder="PIN">
                        </br>
                          <button class="btn btn-primary" onclick="verifyPin()">Submit</button>
                      </div>
                  </form>
                  <div id="loading">
                      <div class="spinner">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                      </div>
                  </div>
          {{/if}}

        </div>
    </div>
</div>

{{#if production}}
    {{> admin-assets-js  }}
{{else}}
    {{> admin-assets-js-development  }}
{{/if}}
</div>
</body>
</html>
